<div class="alert alert-info mb-0">
    <ul class="list-unstyled mb-0">
        {{#chat}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_chat, local_mxaimanager{{/str}}
            </li>
        {{/chat}}
        {{#embedding}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_embedding, local_mxaimanager{{/str}}
            </li>
        {{/embedding}}
        {{#image}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_image, local_mxaimanager{{/str}}
            </li>
        {{/image}}
        {{#transcription}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_audio_transcriptions, local_mxaimanager{{/str}}
            </li>
        {{/transcription}}
        {{#audio}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_tts, local_mxaimanager{{/str}}
            </li>
        {{/audio}}
        {{#vision}}
            <li>
                <i class="fa fa-square-check"></i>
                {{#str}}uses_vision, local_mxaimanager{{/str}}
            </li>
        {{/vision}}
    </ul>
</div>
