<div class="alert alert-info mb-0">
    <h6 class="font-weight-bold">{{#str}}provider_supports, local_mxaimanager{{/str}}:</h6>
    <ul class="list-unstyled mb-0">
        <li>
            {{#chat}}
                <i class="fa fa-square-check"></i>
            {{/chat}}
            {{^chat}}
                <i class="fa fa-square-o"></i>
            {{/chat}}
            {{#str}}supports_chat, local_mxaimanager{{/str}}
        </li>
        <li>
            {{#embedding}}
                <i class="fa fa-square-check"></i>
            {{/embedding}}
            {{^embedding}}
                <i class="fa fa-square-o"></i>
            {{/embedding}}
            {{#str}}supports_embedding, local_mxaimanager{{/str}}
        </li>
        <li>
            {{#image}}
                <i class="fa fa-square-check"></i>
            {{/image}}
            {{^image}}
                <i class="fa fa-square-o"></i>
            {{/image}}
            {{#str}}supports_image, local_mxaimanager{{/str}}
        </li>
        <li>
            {{#transcription}}
                <i class="fa fa-square-check"></i>
            {{/transcription}}
            {{^transcription}}
                <i class="fa fa-square-o"></i>
            {{/transcription}}
            {{#str}}supports_audio_transcriptions, local_mxaimanager{{/str}}
        </li>
        <li>
            {{#audio}}
                <i class="fa fa-square-check"></i>
            {{/audio}}
            {{^audio}}
                <i class="fa fa-square-o"></i>
            {{/audio}}
            {{#str}}supports_tts, local_mxaimanager{{/str}}
        </li>
        <li>
            {{#vision}}
                <i class="fa fa-square-check"></i>
            {{/vision}}
            {{^vision}}
                <i class="fa fa-square-o"></i>
            {{/vision}}
            {{#str}}supports_vision, local_mxaimanager{{/str}}
        </li>
    </ul>
</div>
